
body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
section {
        text-align: center;
        padding: 50px 0;
        margin-bottom: 50px; 
        color: white;/* added space between the two rows */
      }
  h1, h2 {
    margin: 0;
  }
  h1 {
    font-size: 3em;
    font-weight: bold;
    color:red;
    margin-bottom: 1rem;
  }
  
  h2 {
    font-size: 1.5em;
    font-weight: normal;
    color:white;
    margin-bottom: 30px;
  }
  .card {
    display: inline-block;
    width: 30%; 
    height: 250px;
    margin: 0 1%; 
    background-color:yellowgreen;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    margin-bottom: 1rem;
  }
  .card1{
    background-color: rgb(162, 177, 228);
 }
 .card2{
    background-color: rgb(125, 235, 52);
 }
 .card3{
    background-color: rgb(128, 196, 40);
 }
 .card4{
    background-color: rgb(252, 199, 56);
 }
 .card5{
    background-color: rgb(203, 40, 224);
 }
 .card6{
    background-color: rgb(205, 250, 45);
 }

  /*
    Media Queries
  */
  
  @media only screen and (max-width: 600px) {
    /* 
      Styles for screens smaller than 600px 
    */
    .card {
      width: 100%; /* making the card width full screen width on smaller screen*/
      height: 150px; /* reducing the height of the card for smaller screens */
      margin: 10px 0; /* adjusting margin on smaller screens */
    }
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card__main {
    position: relative;
    height: 100%;
  }
  
  .card__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .card__name {
    font-size: 1.5em;
    font-weight: bold;
    color:white;
    margin-bottom: 10px;
  }
  
  .card__name span {
    font-size: 10px;

    color: white;
  }
  
  .crad__total {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0.125em 0.125em 0.125em black;
    color:white;
  }
  
  .card__small {
    font-size: 2em;
  }

  